@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: url("../../resources/fonts/InterTight-Regular.ttf") format("woff2");
}

.header {
    display: grid;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
    grid-template-columns: 240px auto;
}

.headerTitle {
    font-family: Inter, serif;
    font-size: 18px;
    text-align: center;
}
