@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: url("../../../resources/fonts/InterTight-Regular.ttf") format("woff2");
}

.sidePanel__logoIcon {
    height: 100%;
    max-height: 74px;
    width: auto;
    border-radius: 50%;
}

.main {
    display: grid;
    grid-template-columns: 300px auto;
    margin-top: 15px;
    margin-left: 15px;
}

.sidePanel {
    display: grid;
    grid-template-rows: 2fr repeat(3, 1fr);
    row-gap: 25px;
    border-right: solid;
}

.sidePanel__menuElement {
    display: grid;
    grid-template-columns: 21px auto;
    grid-gap: 19px;
    align-items: center;
}

.menuElement__text {
    font-family: Inter, serif;
    font-size: 18px;
}

.sidePanel__logoHeader {
    display: grid;
    grid-template-columns: 75px auto;
    align-items: center;
}

.contactInfo__element {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
}

.contactInfo__network {
    font-family: Inter, serif;
    font-size: 14px;
}

.contactInfo__card {
    display: grid;
    grid-template-columns: 21px auto;
    align-items: center;
    grid-gap: 5px;
}
